* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Big-Shoulders-Stencil';
  background-color: #21222A;
  
}
.react-listh{
  padding-left: 30px;
}
.Heading{
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  padding-left: 30px;
}
.react-list > li{
  padding-block: 10px;
}
.react-list > li::marker{
  color: #61DAFB;
  font-size: 2.0rem;
}
.react-list{
  padding-left: 20px;
  color: white;
  font-size: 1.5rem;
}
header{
  background-color: #282D35;
  height: 91px;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

img{
  padding-left: 10px;
  height: 40px;
}
.title{
  padding-left: 10px;
  color: #61DAFB; 
  font-family: Inter;
  font-weight: 700;
  letter-spacing: -5%;
  font-size: 1.3rem;
}
.Main{
    padding: 60px 30px;
    background-image: url(https://img.icons8.com/?size=100&id=eXYS9lpSOpd5&format=png&color=000000);
    background-repeat: no-repeat;
    background-position: 90% 80%;
}